<h1>Users#show</h1>
<% if logged_in? %>
ログインユーザー名：<%= current_user.name %>

<p><%= link_to "Users#index", users_path %></p>


<p><%= render "nelcoposts/form", nelcoposts: @nelcopost %></p>

<p>
    <% @nelcoposts.each do |nelcopost| %>
      <% if nelcopost.image.present? %>
        <%#= image.inspect %>
        <%=image_tag nelcopost.image.url %><br>
        title: <%= nelcopost.title %><br>
        posted by: <%= link_to @user.name, user_path %><br>
        <% if current_user == @nelcopost.user %>
          <%= link_to "Delete", nelcopost_path(nelcopost), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-xs" %><br>
        <% end %>
      <% else %>
        <%= image_tag "nelco_post.jpg" %><br>
        title: <%= nelcopost.title %><br>
        posted by: <%= link_to @user.name, user_path %><br>
        <% if current_user == @nelcopost.user %>
          <%= link_to "Delete", nelcopost_path(nelcopost), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-xs" %><br>
        <% end %>
      <% end %>
    <% end %>
</p>

<% end %>