ここはUsers#show

<table>
  <tr>
    <td>
     <div class="col-ms-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title text-center">
            <%= @user.name %>
          </div>
        </div>
          <img class="media-object img-rounded img-responsive" src="/images/nelco-icon.jpg" alt="icon">
      </div>
    </div>
    </td>
   <td>
     <% if current_user == @user %>
     <%= link_to "投稿する", new_nelcopost_path(current_user), class: "btn btn-info" %>
     <% end %>
   </td>
   <td>
     <%= render "relationships/follow_button", user: @user %>
   </td>
   <td>
     ポスト：<%= @user.nelcopost.count %>
   </td>
   <td>
     フォロー：<%= link_to @user.followings.count, followings_user_path %>
   </td>
   <td>
      <a href="#">フォロワー</a>：<%= @user.followers.count %>
   </td>
  </tr>
</table>

<div class="row">
  <div class="col-ms-3">
    <%= @user.name %>さんの投稿
    <% @nelcoposts.each do |nelcopost| %>
      <% if nelcopost.image.present? %>
        <%#= image.inspect %>
        <div class="image_posts">
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                  <%= image_tag nelcopost.image.url %>
              </div>
              <div class="panel-body text-center">
                title: <%= nelcopost.title %><br>
                posted by: <%= link_to @user.name, user_path %>
              <% if current_user == @user %>
                <%= link_to "Delete", nelcopost_path(nelcopost), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-xs" %>
              <% end %>
              </div>
            </div>
          </div>
        
      <% else %>
      <div class="image_posts">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <%= image_tag nelco_post.jpg %>
              </div>
              <div class="panel-body text-center">
                title: <%= nelcopost.title %><br>
                posted by: <%= link_to @user.name, user_path %>
                  <% if current_user == @user %>
                  <%= link_to "Delete", nelcopost_path(nelcopost), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-xs" %>
                <% end %>
              </div>  
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>


<%= paginate @nelcoposts %>