<table border="0" width="100%" style="table-layout: fixed;">
  <tr>
    <td rowspan="3">
     <div class="col-ms-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title text-center">
            <%= @user.name %>
          </div>
        </div>
          <div class="panel-body text-center">
            <% if @user.icon.url.present? %>
              <%= image_tag @user.icon.url %>
            <% else %>
              <img class="media-object img-rounded img-responsive" src="/images/nelco-icon.jpg" alt="icon">
            <% end %>
            <% if current_user == @user %>
              <%= link_to "プロフィール画像を変更", icon_upload_path(current_user) %>
            <% end %>
            <%= render "relationships/follow_button", user: @user %>
          </div>
      </div>
     </div>
    </td>
  </tr>
  <tr>
    <td colspan="4">
    </td>
  <tr>
    <td colspan="4">
    </td>
  </tr>
  <tr>
     <td>
       <% if current_user == @user %>
         <%= link_to "投稿する", new_nelcopost_path(current_user), class: "btn btn-info btn-block" %>
       <% end %>
     </td>
     <td class="count">ポスト：<%= @user.nelcopost.count %></td>
     <td class="count">フォロー中：<%= link_to @user.followings.count, followings_user_path %></td>
     <td class="count">フォロワー：<%= link_to @user.followers.count, followers_user_path %></td>
     <td class="count">いいね：<%= link_to @user.favorites.count, favorites_user_path %></td>
  </tr>
</table>
      

<!-- 投稿ここから　-->
<div class="row">
  <div class="col-ms-3">
    <table class="post_name">
      <tr>
        <td>
          <div class="post_name"><%= @user.name %>さんの投稿</div>
        </td>
      </tr>
    </table>
    <% @nelcoposts.each do |nelcopost| %>
      <% if nelcopost.image.present? %>
        <%#= image.inspect %>
        <div class="image_posts">
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                  <p class="text-left"><%= image_tag nelcopost.image.url %></p>
              </div>
              <div class="panel-body text-center">
                <p class="text-left"><%= link_to @user.name, user_path %><br>
                <span class="fontbold">タイトル: <%= nelcopost.title %></span>
                <div class="text-left">
                  <%= render "favorites/fav_button", nelcopost: nelcopost %>
                  <div class="share_button">
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
                </div>
              <% if current_user == @user %>
                <p class="text-right"><%= link_to "Delete", nelcopost_path(nelcopost), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-xs" %></p>
              <% end %>
              </div>
            </div>
          </div>
        
      <% else %>
        <div class="image_posts">
          <div class="col-md-3">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                  <p class="text-left"><%= image_tag "nelco_post.jpg" %></p>
              </div>
              <div class="panel-body text-center">
                <p class="text-left"><%= link_to @user.name, user_path %><br>
                <span class="fontbold">タイトル: <%= nelcopost.title %></span>
                <div class="text-left">
                  <%= render "favorites/fav_button", nelcopost: nelcopost %>
                  <div class="share_button">
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                  </div>
                </div>
                <% if current_user == @user %>
                  <p class="text-right"><%= link_to "Delete", nelcopost_path(nelcopost), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-xs" %></p>
                <% end %>
              </div>
            </div>
          </div>
            <% end %>
          <% end %>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>


<%= paginate @nelcoposts %>