ここはUsers#show
<p><%= link_to "Users#index", users_path %>へ</p>

<% if logged_in? %>

<div class="col-xs-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">ログインユーザー：<%= @user.name %></h4>
    </div>
    <img class="media-object img-rounded img-responsive" src="/images/nelco-icon.jpg" alt="icon">
  </div>
</div>


<div class="postform">
  <%= render "nelcoposts/form", nelcoposts: @nelcopost %>
</div>


<div class="row">
  <div class="col-md-3">
    
    <% @nelcoposts.each do |nelcopost| %>
      <% if nelcopost.image.present? %>
        <%#= image.inspect %>
      <div class="image_posts">
        <div class="col-md-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <%=image_tag nelcopost.image.url %>
            </div>
              title: <%= nelcopost.title %><br>
              posted by: <%= link_to @user.name, user_path %><br>
              <% if current_user == @nelcopost.user %>
              <%= link_to "Delete", nelcopost_path(nelcopost), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-xs" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= image_tag "nelco_post.jpg" %><br>
        title: <%= nelcopost.title %><br>
        posted by: <%= link_to @user.name, user_path %><br>
        <% if current_user == @nelcopost.user %>
          <%= link_to "Delete", nelcopost_path(nelcopost), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-xs" %><br>
        <% end %>
      <% end %>
    <% end %>
    
  </div>
</div>

<% end %>