<h2>すべての投稿一覧</h2>
<% unless logged_in? %>
  <p>詳細は<%= link_to "ログイン", login_path %>後見ることができます。新規登録は<%= link_to "こちら", signup_path %></p>
<% end %>
<br>
<br>
<% @nelcoposts.each do |nelcopost| %>
  <% if nelcopost.image.url.present? %>
    <%= link_to (image_tag nelcopost.image.url), user_path(nelcopost [:user_id]) %>
  <% else %>
    <%= link_to (image_tag "nelco_post.jpg"), user_path(nelcopost [:user_id] ) %>
  <% end %>
<% end %>

<%= paginate @nelcoposts %>