<!-- ■render _form.html.erb ここから■ -->


<div class="panel panel-info">
	<div class="panel-heading">
		投稿する
	</div>
	<div class="panel-body post_form">
		<%= form_for(@nelcopost) do |f| %>
  <% if @nelcopost.errors.any? %>
    <div id="error_explanation" class="post_error">
      <h3><%= pluralize(@nelcopost.errors.count, "エラー") %> ／以下の理由で投稿できませんでした</h3>

      <ul>
      <% @nelcopost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="field">
  <%= f.label :タイトルを入力してください %><small> （20文字まで）</small><br>
  <%= f.text_field :title %>
</div>
<br>
<div class="field">
  <%= f.label :画像 %><small>　(jpg, jpeg, gif, pngが投稿可能です)</small>
  <%= f.file_field :image %>
</div>
<br>
<div class="actions">
  <%= f.submit "画像を追加する" %>
</div>
<% end %>
	</div>
</div>





<!-- ■render _form.html.erb ここまで■ -->